
<div class="button-container-grey">
  <button class="button">Order History</button>
  <button class="button">Update My Details</button>
  <button class="button">Books Listed</button>
</div>

<div class="button-container-red">
  <button class="button">List a Book</button>
  <button class="button">Rent Now</button>
</div>
