<%= render partial: 'sidebar' %>
<div class="row g-4">

  <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  Filter
  </a>

  <% if @listings.present? %>
    <% @listings.each do |book| %>
      <%= render partial: 'card', locals: { book: book } %>
    <% end %>
  <% else %>
    <p>No books available at the moment.</p>
  <% end %>
</div>

<div id="new-button">
  <%= link_to listings_path, class: "navbar-brand" do %>
    <i class="fa fa-plus-circle fa-5x" aria-hidden="true"></i>
  <% end %>
</div>
