<!-- filepath: /Users/liamgingell/code/liam-gingell/kyoukago/app/views/shared/_navbar.html.erb -->
<nav class="navbar navbar-lewagon">
  <div class="navbar-brand">
    <%= link_to image_tag('logo.png', alt: 'Logo'), root_path %>
  </div>
  <div class="navbar-collapse">
    <!-- Add your navbar content here -->
  </div>
</nav>
