
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render partial: 'card', locals: { card_title: 'To Kill a Mockingbird', card_content: 'This is the content of card 1.', card_author: 'Harper Lee', card_image_path: 'To Kill a Mockingbird.jpg' } %>

